# Ignore everything including subdirectories.
*
!*/

# Git.
!*.gitignore

# C/C++.
!*.cpp
!*.hpp
!*.inl
!*.h
!*.pump
!*.cc

# DLLs.
!*Build/glfw3.dll
!*Build/glew.dll

# Shaders.
!*.vs.glsl
!*.gs.glsl
!*.cs.glsl

# Lua.
!*.lua

# Allow other.
!*.md
!premake5.exe
!*.travis.yml

# Allow third party libs.
!ThirdParty/**/*.a
